﻿
@{
    ViewData["Title"] = "Hello";
}

<h2>Hello</h2>

<p>@ViewBag.Pesan</p>
<p>Sekarang anda di @ViewData["kota"]</p>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label for="alas">Alas:</label>
                <input type="number" class="form-control" name="alas">
            </div>
            <div class="form-group">
                <label for="tinggi">Tinggi:</label>
                <input type="number" name="tinggi" class="form-control" />
            </div>
            <button class="btn btn-default">Hitung</button>
        </form>
        <p>Jadi Hasilnya adalah : @ViewBag.Hasil</p>
    </div>
</div>

<br /><br />

